<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Phil réalise son rêve <i class="fa fa-heart-o pulse "></i>.</p>
    </section>
</section>
