# Add the entire Grav site to GitHub
# https://getgrav.org/blog/developing-with-github-part-2
composer.lock
backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/data/*
!user/data/.*
user/accounts/*
!user/accounts/.*